body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
    position: relative;
}

main section {
    float: left;
    border-style: solid;
    width: 30vw;
    margin: 0.5em;
    padding: 0.5em;
}

main section * {
    margin: 0.5em;
}

main section h3 {
    text-align: center;
}

main section {
    transition-property: left
}

main section dd {
    position: relative;
    float: left;
}

.thumbnail {
	float: left;
	position: relative;
    width: 240px;
    height: auto;
}
.thumbnail img:hover {
    position: relative;
    width: 800px;
    z-index: 999;
}

.thumbnail img {
	width: 240px;
	height: auto;
    transition: all 0.15s ease-in-out;
}
